{% load static %}
<!DOCTYPE html>

<head>
    <title>Advanced Newspaper App</title>
    <link href="{% static 'news/css/base.css' %}" rel="stylesheet">
    <script src="{% static 'news/js/script.js' %}"> </script>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
</head>

<body>
    <header>
        <div>
            <h1>
                <a href="{% url 'home'}">Advanced newspaper App</a> 
            </h1>
             <a href="{ % url 'article_new'  % }"> New Article </a>
           
        </div>
    </header>
    <div>
       

        {% block content %}
        {% endblock content %}
    </div>
</body>

</html>